node_modules/
.pnpm-store/
work/
dist/
coverage/
.env
.env.*
!.env.example
playwright-report/
test-results/
.DS_Store
*.log
outputs/*.zip
apps/web/android/app/src/main/res/xml/config *.xml
apps/web/ios/App/App/config *.xml
